<div class="container">
    <div class="card bg-primary m-5" style="max-width: 28rem;">
        <div class="card-header text-center text-white">
            <h2>{{city}}</h2>
            <p><img src="{{iconUrl}}" alt="weather image"></p>
        </div>
        <div class="card-body text-white">
          <p class="card-text">Summary : {{ summary }}</p>
          <p class="card-text">Temperature : {{ temperature }} °C</p>
          <p class="card-text">FeelsLike : {{ feelslike }} °C</p>
          <p class="card-text">Pressure : {{ pressure }}</p>
          <p class="card-text">Humidity : {{ humidity }}%</p>
        </div>
      </div>
</div>
